.searchcontainer{
    height: 11vh;
    width: 76vw;
}

.searchbarForecast{
    width: 40vw;
    height: 6vh;
    margin: 16px 40px;
    padding: 23px;
    border-radius: 20px;
}

.inputForecast{
    border-radius: 10px;
    width: 73px;
    padding: 0px 13px;
    height: 32px;
}

.btnnn{
    background-color: white;
    width: 8vw;
    height: 6vh;
    padding: 10px;
    padding-left: 12px;
    border-radius: 12px;
    margin: 100px;
    margin-top: 9px;
    cursor: pointer;
}

.btnnn:hover{
    background-color: lightgray;
}

.numberBox{
    height: 77vh;
    background-color: rgb(71 85 105 / var(--tw-bg-opacity));
    margin: 40px 20px;
    position : relative;
    border-radius: 40px;
    bottom: 87px;
}

.numberforecast h6{
    color : white;
    font-size: large;
    position: absolute;
    left: 444px;
}

.displayone, .displaytwo, .displaythree, .displayfour{
    display: flex;
    flex-direction: column;
}
.displayone{
    gap: 44px;
    margin: 26px;
    color: white;
    font-size: large;
    font-family: fangsong;
}
.displaytwo{
    gap: 15px;
}
.displaythree{
    gap: 48px;
    margin: 15px;
    color: white;
    font-size: large;
    font-family: fangsong;
}
.displayfour{
    gap: 48px;
    margin: 15px;
    color: white;
    font-size: large;
    font-family: fangsong;
}
.displaybox{
    display: flex;
    margin-top: 53px;
    gap: 200px;
}

.numberforecast{
    padding: 10px;
}