.Box{
    width: 25vw;
    height: 87vh;
    background-color: rgb(71 85 105 / var(--tw-bg-opacity));
    margin: 25px 25px;
    border-radius: 25px;
    margin-top: 60px;
}
.day , .day2 ,.day3 ,.day4{
    display: flex;
    flex-direction: column;
}
.day{
    gap: 45px;
}
.day2{
    gap: 32px;
}
.day3{
    gap:50px;
}
.day4{
    gap: 46px;
}
.SD{
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

h4{
    font-family: initial;
    padding: 10px 17px;
    color: white;
}
.immg img{
    height: 40px;
    width: 40px;
    margin: 8px;
    border-radius: 53px;
}
.hh5 h5{
    font-family: initial;
    padding: 8px 45px;
}
.t h5{
    color: white;
    padding: 10px 3px
}
.immg{
    padding: auto;
}