.sidecontain{
    width: 37vw;
    height: 25vh;
    border-radius: 25px;
    margin-top: 17px;
    padding: 0px 83px;
}
/* .vertical-line{
    width: 1px;
    height: 122px;
    background-color: white;
} */